import React,{Component} from 'react';
import './{{name}}.scss'
class {{pascalCase name}} extends Component {
render(){
return (
<div className="{{camelCase name}}">Class Comp - {{pascalCase name}}</div>
);
}
}

export default {{pascalCase name}};