import React,{useState} from 'react';
import './{{name}}.scss'
const {{pascalCase name}}=()=> (
<div className="{{camelCase name}}">
    {{pascalCase name}}
</div>
)
export default {{pascalCase name}};